{% block frosh_gmv_chart %}
    <div class="frosh-gmv-chart">
        <sw-chart
            class="frosh-gmv-chart__container"
            :series="chartSeries"
            :options="chartOptions"
            type="bar"
            position-identifier=""
            :available-ranges="[]"
        />

        <div class="frosh-gmv-chart__note">
            {{ $tc('frosh-gmv-viewer.chart.monthlyNote') }}
        </div>
    </div>
{% endblock %}
